header {
  position: relative;
  .burger-menu-box {
    background-color: orange;
    width: 10vw;
    display: none;
  }
  img {
    width: 100%;
  }
}
.menu ul {
  color: gray;
  display: flex;
  list-style-type: none;
  gap: 1rem;
  a {
    text-decoration: none;
  }
}
